form > div {
  margin-bottom: 2rem;
}

input, textarea {
   display: flex;
   justify-content: center;
   align-items: center;
   outline: none;
   border: 2px solid #1BB6CB;
   border-radius: 6px;
   width: 22em;
   padding: 10px 5px;
}